
<section class="fondo">
  <div >
    <nav class="navbar navbar-expand-lg navbar-dark verde scrolling-navbar fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#" style="color: black;">PSE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <button (click)= "logout()">Logout</button>
            </li>
          </ul>
        </div>

      </div>

    </nav>
    <div  class="container formulario" style="margin-top:200px; position: auto;" >
        <form action="" style="text-align: center;">
          <div id="salas">
            Salas disponibles:
            <select name="" id="" style="margin-top:10px;">
              <option value="">101</option>
              <option value="">102</option>
              <option value="">103</option>
            </select>
          </div>
          <div>
              <button type="submit" class="btn btn-success"   style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">Reservar</button>
          </div>
        </form>
       
      </div>
    
  </div>

 
</section>
